*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(230, 192, 95);
    -webkit-text-stroke: .4px black;
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 30px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
}


.generalSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    height: 100vh;
  }
.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    height: 40%;
    background-color: rgba(56, 51, 51, 0.603);
    border: 4px solid rgb(230, 192, 95);;
}



.title-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quote{
    font-size: 1.7em;
}

#quote-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttons-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.each-button{
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color:rgb(230, 192, 95);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 1.1em;

  border: 0;
}

.each-button:hover,
.each-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.each-button:active {
  background: var(--color);
  color: #fff;
}


.div-section{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.scoreTraker{
    overflow: hidden;
    width: 1em;
    height: 1em;
    margin-bottom: 0.5em;
    border: 0.12em solid rgb(230, 192, 95);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color, transform 0.3s;
    will-change: border-color, transform;
    gap: 10px;
}

.seleccionado{
    transform: translateX(-50%) translateY(-50%) scale(0.7);
    opacity: 1;
    background-color: rgb(79, 79, 76);
    transform: scale(1.2);
    transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6)
}